<head>
	<style type="text/css">
		    fieldSet
		    {
		        width: 120px; 
		        margin-left: 10px;
		        border:1;
		        margin:1 auto;
			//align:"center";
		    }
        </style>

	<title> ARI CONDITIONING MANAGMENT</title>
</head>
<body>
	<form method="POST" action="/AirLogin" allignment =>
	  <fieldset style="width=200 px">
	   <legend>LOGIN</legend>	
	    <h3>Username</h3>
	    <input name="Username" type="text" value="" size="40" maxlength="100" /><br>
	    <h3>Password</h3>
	    <input name="Password" type="password" value="" size="40" maxlength="100" /><br><br>
	    <button type="submit" style="float: left">--> Login <--</button>
	    <b>{{Error}}</b> 
	   </fieldset>
	</form>
	    <script>
        function myFunction2() {
            var x = document.querySelector('input[name="submit"]:checked').valu$
            document.getElementById("demo2").innerHTML = x;
        }
        </script>
</body>
